@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main class="login-bg">
<div class="row">
    <div class="col-md-6 login-box">
        <section>
            <form id="account" method="post">
                <h1 class="text-center pb-4 login-title" >FundsManager</h1>
                <h5 class="text-white text-center" >Use a local account to Log In </h5>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating user-box">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username" class="form-label"></label>
                    <span asp-validation-for="Input.Username" class="text-danger validation-text"></span>
                </div>

                <div class="form-floating user-box">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label text-white mb-4">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="mb-4 w-100 btn-login btn-lg">Log in</button>
                </div>
                <div>
                    <p class="text-white">
                       Forgot your password? Contact a SuperAdmin
                    </p>
                   
                </div>
            </form>
        </section>
    </div>
   @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
html {
  height: 100%;
}

body {
    font-family: 'Baloo Da 2', cursive;
    margin:0;
    padding:0;
    background: linear-gradient(135deg, #5749db 0%, #000000 75%);
}

.login-title {
    color: #18D1BB;
}

.login-bg {
    background: linear-gradient(135deg, #5749db 0%, #000000 75%);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #07F2B1;
    font-size: 12px;
}

.btn-login {
    background: linear-gradient(90deg, #07F2B1 00%, #18D1BB 20%, #3B77E2 40%, #6145F1 60%, #9733EF 80%);
    color: white;
    border: none;
    outline: none;
}

.btn-login:hover {
    opacity: 90%;
}

.validation-text {
    color: #9733EF !important;
    font-size: 10px;
    margin-top: 5px;
}

</style>