@using System.Security.Claims
@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>

        @{
            foreach (var role in _roles)
            {
                if (role == ApplicationUserRole.Superadmin.ToString("G"))
                {
                    <h6 class="badge badge-super ">@ApplicationUserRole.Superadmin.ToString("G").Humanize(LetterCasing.Title)</h6>
                }
                else if (role == ApplicationUserRole.NodeManager.ToString("G"))
                {
                    <h6 class="badge badge-node">@ApplicationUserRole.NodeManager.ToString("G").Humanize(LetterCasing.Title)</h6>
                }
                else
                {
                    <h6 class="badge badge-finance">@ApplicationUserRole.FinanceManager.ToString("G").Humanize(LetterCasing.Title)</h6>
                    <Button Color="Color.Info" Size="Size.Small" Clicked="@(() => NavigationManager.NavigateTo("/keys"))">My keys</Button>
                }
            }
        }

        <a href="Identity/Account/Manage" class="hello">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link btn-logout">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
@code
{
    [CascadingParameter]
    private ApplicationUser LoggedUser { get; set; }

    private List<string> _roles = new();

    protected override async Task OnInitializedAsync()
    {
        if (LoggedUser != null) _roles = (await UserManager.GetRolesAsync(LoggedUser)).ToList();
    }
}
