/*
 * NodeGuard
 * Copyright (C) 2023  ClovrLabs
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

﻿@using Humanizer



@if (Keys != null && Keys.Any(key => key != null))
{
    <DataGrid TItem="Key"
              Data="Keys"
              Sortable="false"
              ShowCaptions="true"
              Editable="false"
              responsive>

        <DataGridColumn TItem="Key" Editable="false" Field="@nameof(Key.Name)" Caption="@nameof(Key.Name)" Sortable="false"/>
        <DataGridColumn TItem="Key" Editable="false" Field="@nameof(Key.Description)" Caption="@nameof(Key.Description)" Sortable="false"/>
        <DataGridColumn TItem="Key" Editable="false" Field="@nameof(Key.IsArchived)" Caption="Archived" Sortable="false" />
        <DataGridColumn TItem="Key" Editable="false" Field="@nameof(Key.IsCompromised)" Caption="Compromised" Sortable="false" />
        <DataGridColumn TItem="Key" CellsEditableOnNewCommand="true" CellsEditableOnEditCommand="false" Editable="false" Field="@nameof(Key.XPUB)" Caption="@nameof(Key.XPUB).Humanize(LetterCasing.Sentence)" Sortable="false">
            <DisplayTemplate Context="keyContext">
                @if (!string.IsNullOrWhiteSpace(keyContext.XPUB) && keyContext.XPUB.Length > 40)
                {
                    @StringHelper.TruncateHeadAndTail(keyContext.XPUB, 10);
                }
                else
                {
                    <p>Invalid xpub</p>
                }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGrid>

}

@code {
    [Parameter] 
    public List<Key> Keys { get; set; }

  }
