@page "/channels"
@using System.Security.Claims
<PageTitle>Active Channels</PageTitle>
<h3>Channels</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <DataGrid TItem="Channel"
                  Data="@_channels"
                  @bind-SelectedRow="@_selectedChannel"
                  Responsive="true"
                  ResizeMode="TableResizeMode.Columns"
                  UseInternalEditing="true">
            <DataGridColumns>
                <DataGridColumn TItem="Channel" Field="@nameof(Channel.ChannelId)" Caption="@nameof(Channel.ChannelId)" Sortable="false" />
                <DataGridColumn TItem="Channel" Field="@nameof(Channel.FundingTx)" Caption="@nameof(Channel.FundingTx)" Sortable="false" />
                <DataGridNumericColumn TItem="Channel" Field="@nameof(Channel.SatsAmount)" Caption="@nameof(Channel.SatsAmount)" Sortable="false" />
                <DataGridColumn TItem="Channel" Field="@nameof(Channel.BtcCloseAddress)" Caption="@nameof(Channel.BtcCloseAddress)" Sortable="false" />
                <DataGridNumericColumn TItem="Channel" Field="@nameof(Channel.FundingTxOutputIndex)" Caption="@nameof(Channel.FundingTxOutputIndex)" Sortable="false" />
                <DataGridColumn TItem="Node" Field="@nameof(Node.CreationDatetime)" Caption="@nameof(Node.CreationDatetime)" Sortable="false" />
                <DataGridColumn TItem="Node" Field="@nameof(Node.UpdateDatetime)" Caption="@nameof(Node.UpdateDatetime)" Sortable="false" />
                <DataGridColumn TItem="Channel" Caption="Related Operation Requests" Sortable="false">
                    <DisplayTemplate>
                        <Button Color="Color.Primary" Clicked="@ShowModal">See</Button>
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </Column>
</Row>
<Modal @bind-Visible="@_modalVisible">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Users assigned to Channel: @_selectedChannel?.ChannelId</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
           <DataGrid TItem="ChannelOperationRequest"
                     Data=@_selectedChannel?.ChannelOperationRequests
                     Sortable="false"
                     ShowCaptions="true">
               <DataGridColumn Field="@nameof(ChannelOperationRequest.Id)" Caption="@nameof(ApplicationUser.Id)" />
               <DataGridColumn Field="@nameof(ChannelOperationRequest.User)" Caption="Created By" />
               <DataGridColumn TItem="ChannelOperationRequest" Field="SourceNode.Name" Caption="Source Node" Sortable="false" Displayable="true"/>
               <DataGridColumn TItem="ChannelOperationRequest" Field="DestNode.Name" Caption="Remote Node" Sortable="false" Displayable="true"/>
               <DataGridColumn TItem="ChannelOperationRequest" Field="Wallet.Name" Caption="Source of Funds" Sortable="false" Displayable="true"/>
               <DataGridColumn TItem="ChannelOperationRequest" Field="@nameof(ChannelOperationRequest.Amount)" Caption="Value" Sortable="false" Displayable="true">
                   <DisplayTemplate>
                       @{
                           @($"{context.Amount} Sats")
                       }
                   </DisplayTemplate>
               </DataGridColumn>
               <DataGridColumn TItem="ChannelOperationRequest" Field="@nameof(ChannelOperationRequest.WalletId)" Caption="Signatures Collected" Sortable="false" Displayable="true">
                   <DisplayTemplate>
                       @{
                           var signaturesCollected = context?.ChannelOperationRequestSignatures?.Count ?? 0;
                           var signaturesRequired = context?.Wallet?.MofN ?? 0;
                           @($"{signaturesCollected} out of {signaturesRequired}")
                       }
                   </DisplayTemplate>
               </DataGridColumn>
               <DataGridColumn TItem="ChannelOperationRequest" Field="@nameof(ChannelOperationRequest.Status)" Caption="Status" Sortable="false" Displayable="true"/>
               <DataGridColumn TItem="Node" Field="@nameof(Node.CreationDatetime)" Caption="@nameof(Node.CreationDatetime)" Sortable="false" />
               <DataGridColumn TItem="Node" Field="@nameof(Node.UpdateDatetime)" Caption="@nameof(Node.UpdateDatetime)" Sortable="false" />
           </DataGrid>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Back</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@inject IChannelRepository ChannelRepository
@code {
    private List<Channel>? _channels;
    private Channel? _selectedChannel;
    private bool _modalVisible;

    [CascadingParameter]
    private ApplicationUser? LoggedUser { get; set; }

    [CascadingParameter]
    private ClaimsPrincipal? ClaimsPrincipal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (LoggedUser != null)
        {
            _channels = await ChannelRepository.GetAll();
        }
    }

    private Task ShowModal()
    {
        _modalVisible = true;
        return Task.CompletedTask;
    }

    private Task HideModal()
    {
        _modalVisible = false;
        return Task.CompletedTask;
    }
}