@page "/nodes"
@using System.Security.Claims
@using System.Threading
@using NodeGuard.Jobs
@using Humanizer
@using Quartz

@attribute [Authorize(Roles = "FinanceManager, NodeManager, Superadmin")]
<PageTitle>Active Nodes</PageTitle>
<h3 class="custom-primary">Nodes</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <DataGrid TItem="Node"
                  Data="@_nodes"
                  Editable="@_editable"
                  EditMode="DataGridEditMode.Popup"
                  @bind-SelectedRow="@_selectedNode"
                  Responsive="true"
                  ResizeMode="TableResizeMode.Columns"
                  UseInternalEditing="true"
                  RowInserted="OnRowInserted"
                  RowUpdated="OnRowUpdated"
                  Filterable="true"
                  UseValidation="true">
            <PopupTitleTemplate>
                <h2>@(context.EditState) node</h2>
            </PopupTitleTemplate>
            <DataGridColumns>
    
                <DataGridCommandColumn TItem="Node" Filterable="false"  Editable="false" Width="60px">

                    <EditCommandTemplate>
                        <Dropdown @onclick:stopPropagation="true">
                            <DropdownToggle Color="Color.Primary">
                            </DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem Clicked="context.Clicked">Edit</DropdownItem>
                                <DropdownItem Clicked="@(() => ShowDeleteDialog(context.Item))">Delete</DropdownItem>
                                <DropdownItem Clicked="@(() => ToggleNodeStatus(context.Item))">@_NodesState(context.Item)</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </EditCommandTemplate>
                    <DeleteCommandTemplate/>
                    <NewCommandTemplate>
                        <Button Color="Color.Success" TextColor="TextColor.Light" Clicked="@context.Clicked" Block>New</Button>
                    </NewCommandTemplate>
                </DataGridCommandColumn>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.Name)" Validator="ValidationHelper.ValidateName" Caption="@nameof(Node.Name)" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.Name)"/>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.PubKey)" Caption="@nameof(Node.PubKey)" Sortable="false" Width="220px" Displayable="@IsColumnVisible(NodesColumnName.PubKey)">
                    <DisplayTemplate>
                        @StringHelper.TruncateHeadAndTail(context.PubKey, 6)&nbsp;
                        @{State state = new("Copy", "oi oi-clipboard");}
                        <Button Color="Color.Primary" Size="Size.Small" Outline @onclick="@(() => CopyToClipboard(context.PubKey))" disabled=@state.IsDisabled>
                            <i class="@state.ClassName"></i>
                        </Button>
                    </DisplayTemplate>
                    <EditTemplate>
                        <Validation Validator="@((ValidatorEventArgs obj) => @ValidationHelper.ValidatePubKey(obj, _nodes, context.Item.PubKey))">
                            <TextEdit Text="@((string)context.CellValue)" TextChanged="(text) => { context.CellValue = text; }">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </EditTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.Description)" Caption="@nameof(Node.Description)" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.Description)"/>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.ChannelAdminMacaroon)" Validator="ValidationRule.IsNotEmpty" Caption="Macaroon" CellsEditableOnNewCommand="true" CellsEditableOnEditCommand="false" Displayable="false" Sortable="false"/>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.Endpoint)" Validator="ValidationRule.IsNotEmpty" Caption="@nameof(Node.Endpoint)" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.Endpoint)"/>
                <DataGridNumericColumn TItem="Node" Filterable="false" Editable="false" Caption="Outbound Open Channels" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.OutboundOpenChannels)">
                    <DisplayTemplate>
                        @{
                            IEnumerable<int?> associatedChannels = context?.ChannelOperationRequestsAsDestination?
                                .Where(request => request.ChannelId != null)
                                .Select(channel => channel.ChannelId)
                                .Distinct();
                            @($"{associatedChannels?.Count()}")
                        }
                    </DisplayTemplate>
                </DataGridNumericColumn>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.ReturningFundsWalletId)" Caption="Returning funds wallet" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.ReturningFundsWallet)">
                    <DisplayTemplate>
                        @if (context.ReturningFundsWallet != null)
                        {
                            @context.ReturningFundsWallet.Name
                        }
                    </DisplayTemplate>
                    <EditTemplate>
                        @if (context.CellValue == null)
                        {
                            <SelectList TItem="Wallet"
                                        TValue="int"
                                        Data="@_availableWallets"
                                        TextField="@((item) => item.Name)"
                                        ValueField="@((item) => item.Id)"
                                        SelectedValueChanged="(id) => context.CellValue = id"
                                        DefaultItemText="Choose the returning funds wallet"/>
                        }
                        else
                        {
                            <SelectList TItem="Wallet"
                                        TValue="int"
                                        Data="@_availableWallets"
                                        TextField="@((item) => item.Name)"
                                        ValueField="@((item) => item.Id)"
                                        SelectedValue="(int)context.CellValue"
                                        SelectedValueChanged="(id) => context.CellValue = id"/>
                        }

                    </EditTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Node" Filterable="false" Editable="false" Field="@nameof(Node.IsNodeDisabled)" Caption="Disabled" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.Disabled)"></DataGridColumn>
                <DataGridColumn TItem="Node" Filterable="false" Editable="true" Field="@nameof(Node.AutosweepEnabled)" Caption="Autosweep" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.Autosweep)"></DataGridColumn>
                <DataGridColumn TItem="Node" Filterable="false" Field="@nameof(Node.CreationDatetime)" Caption="Creation Date" Sortable="true" SortDirection="SortDirection.Descending" Displayable="@IsColumnVisible(NodesColumnName.CreationDate)">
                    <DisplayTemplate>
                        @context.CreationDatetime.Humanize()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Node" Filterable="false" Field="@nameof(Node.UpdateDatetime)" Caption="Update date" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.UpdateDate)">
                    <DisplayTemplate>
                        @context.UpdateDatetime.Humanize()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Node" Filterable="false" Caption="@nameof(Node.Users)" Editable="false" CellsEditableOnEditCommand="false" Sortable="false" Displayable="@IsColumnVisible(NodesColumnName.Users)">
                    <DisplayTemplate>
                        <Button Color="Color.Primary" Clicked="@ShowModal" Block>Display Users</Button>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Node" Displayable="true">
                    <FilterTemplate>
                        <ColumnLayout @ref="NodesColumnLayout" Columns="@NodesColumns" ColumnType="NodesColumnName" OnUpdate="@OnColumnLayoutUpdate"/>
                    </FilterTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </Column>
</Row>
<Modal @bind-Visible="@_modalVisible" >
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Users assigned to Node: @_selectedNode?.Name</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
           <DataGrid TItem="ApplicationUser"
                     Data=@_selectedNode?.Users
                     Sortable="false"
                     ShowCaptions="true">
               <DataGridColumn Field="@nameof(ApplicationUser.Id)" Caption="@nameof(ApplicationUser.Id)" />
               <DataGridColumn Field="@nameof(ApplicationUser.UserName)" Caption="@nameof(ApplicationUser.UserName)" />
           </DataGrid>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Back</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@inject INodeRepository NodeRepository
@inject IToastService ToastService;
@inject ClipboardService ClipboardService
@inject IMessageService MessageService
@inject IWalletRepository WalletRepository
@inject ISchedulerFactory  SchedulerFactory
@inject ILocalStorageService LocalStorageService
@implements IDisposable
@code {
    private List<Node>? _nodes;
    private Node? _selectedNode;
    private bool _modalVisible;
    private bool _hideDelete = true;
    private bool _editable;
    private List<Wallet> _availableWallets = new();

    CancellationTokenSource cts = new();

    [CascadingParameter]
    private ApplicationUser? LoggedUser { get; set; }

    [CascadingParameter]
    private ClaimsPrincipal? ClaimsPrincipal { get; set; }

    private ColumnLayout<NodesColumnName> NodesColumnLayout;
    private Dictionary<string, bool> NodesColumns = new();
    private bool columnsLoaded;

    public abstract class NodesColumnName
    {
        public static readonly ColumnDefault Name = new("Name");
        public static readonly ColumnDefault PubKey = new("PubKey");
        public static readonly ColumnDefault Description = new("Description");
        public static readonly ColumnDefault Endpoint = new("Endpoint");
        public static readonly ColumnDefault OutboundOpenChannels = new("Outbound Open Channels");
        public static readonly ColumnDefault ReturningFundsWallet = new("Returning Funds Wallet");
        public static readonly ColumnDefault Disabled = new("Disabled");
        public static readonly ColumnDefault Autosweep = new("Autosweep");
        public static readonly ColumnDefault CreationDate = new("Creation Date");
        public static readonly ColumnDefault UpdateDate = new("Update Date");
        public static readonly ColumnDefault Users = new("Users");
    }

    protected override async Task OnInitializedAsync()
    {
        if (LoggedUser != null)
        {
            await GetData();

            if (ClaimsPrincipal != null &&
                (ClaimsPrincipal.IsInRole(ApplicationUserRole.Superadmin.ToString())
                 || ClaimsPrincipal.IsInRole(ApplicationUserRole.NodeManager.ToString())))
            {
                _editable = true;
                _hideDelete = false;
            }
        }
    }
    
    private string _NodesState(Node node)
    {
        return node.IsNodeDisabled ?  "Enable Node" : "Disable Node";
    }
    
    private async Task ToggleNodeStatus(Node node)
    {
        try
        {
            node.IsNodeDisabled = !node.IsNodeDisabled;
            if (node.IsNodeDisabled)
            {
                await StopJob(node);
            }
            else
            {
                await CreateJobs(node);
            }
            node.JobId = null;
            var (result, _) = NodeRepository.Update(node);
            if (result)
            {
                _nodes = await NodeRepository.GetAllManagedByNodeGuard();
                _availableWallets = await WalletRepository.GetAvailableWallets();
                string status = node.IsNodeDisabled ? "disabled": "enabled";
                string message = $"{node.Name} is {status}";
                ToastService.ShowSuccess(message);
            }
            else
            {
                ToastService.ShowError($"Error while disabling the {node.Name}, please contact a superadmin for troubleshooting");
            }
        }
        catch
        {
            ToastService.ShowError($"Error while disabling {node.Name}, please contact a superadmin for troubleshooting");
        }
    }

    private async Task GetData()
    {
        _nodes = await NodeRepository.GetAllManagedByNodeGuard();
        _availableWallets = await WalletRepository.GetAvailableWallets(false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && !columnsLoaded)
        {
            await LoadColumnLayout();

        }
    }

    private async Task LoadColumnLayout()
    {
        NodesColumns = await LocalStorageService.LoadStorage(nameof(NodesColumnName), ColumnHelpers.GetColumnsDictionary<NodesColumnName>());
        columnsLoaded = true;
        StateHasChanged();
    }

    private async Task OnRowInserted(SavedRowItem<Node, Dictionary<string, object>> arg)
    {
        if (arg.Item == null)
        {
            ToastService.ShowError("Couldn't fetch data");
        }
        else
        {
            Node newNode = arg.Item as Node;
            (bool, string?) addResult;
            var restoredNode = await NodeRepository.GetByPubkey(arg.Item.PubKey);
         
            if (restoredNode != null)
            {
                newNode.Id = restoredNode.Id;
                newNode.CreationDatetime = restoredNode.CreationDatetime;
                addResult =  NodeRepository.Update(newNode);
            }
            else
            {
                addResult = await NodeRepository.AddAsync(arg.Item);
            }
            if (addResult.Item1)
            {
                ToastService.ShowSuccess($"Node {arg.Item.Name} Created");
                _nodes = await NodeRepository.GetAll();
                await CreateJobs(arg.Item);

            }
            else
            {
                ToastService.ShowError("Something went wrong");
                _nodes?.Remove(arg.Item);
            }
        }

        await GetData();
    }

    private async Task OnRowUpdated(SavedRowItem<Node, Dictionary<string, object>> arg)
    {
        if (arg.Item == null)
        {
            ToastService.ShowError("Couldn't fetch data");
        }
        else
        {
            arg.Item.UpdateDatetime = DateTimeOffset.Now;
            var updateResult = NodeRepository.Update(arg.Item);


            if (updateResult.Item1)
            {
                ToastService.ShowSuccess($"Node {arg.Item.Name} Updated");
            }
            else
            {
                ToastService.ShowError("Something went wrong");
            }
        }

        await GetData();
    }

    private void ShowModal()
    {
        _modalVisible = true;
    }

    private void HideModal()
    {
        _modalVisible = false;
    }

    private async Task CopyToClipboard(String pubkey)
    {
        await ClipboardService.WriteTextAsync(pubkey);
        ToastService.ShowSuccess("Text copied");
    }

    public void Dispose()
    {
        cts.Cancel(); // Cancel Task.Delay
        cts.Dispose();
    }

    private async Task ShowDeleteDialog(Node node)
    {
        if (await MessageService.Confirm($"Are you sure you want to delete { node.Name }?", "Confirmation"))
        {
            if (node != null)
            {
                node.IsNodeDisabled = true;
                node.Endpoint = null;
                node.ChannelAdminMacaroon = null;
                var (result, _) = NodeRepository.Update(node);
                if (!result)
                {
                    ToastService.ShowError($"{node.Name} could not be deleted");
                }
                else
                {
                    ToastService.ShowSuccess($"{node.Name} deleted successfully");
                    _nodes = await NodeRepository.GetAll();

                }
                await StopJob(node);
            }
        }

        await GetData();

    }


    private async Task StopJob(Node node)
    {
        try
        {
            IScheduler scheduler = await SchedulerFactory.GetScheduler();
            
            await SimpleJob.DeleteJob<NodeChannelSuscribeJob>(scheduler, node.Id.ToString());
            await SimpleJob.DeleteJob<ProcessNodeChannelAcceptorJob>(scheduler, node.Id.ToString());
            
            node.JobId = null;
        }
        catch
        {
            ToastService.ShowError("Error while stopping jobs, please contact a superadmin for troubleshooting");
        }
    }

    private async Task CreateJobs(Node node)
    {
        try
        {
            IScheduler scheduler = await SchedulerFactory.GetScheduler();
           
            await UpsertJob<ProcessNodeChannelAcceptorJob>(scheduler, node, map =>
            {
                map.Put("managedNodeId", node.Id.ToString());
            });
            
            await UpsertJob<NodeChannelSuscribeJob>(scheduler, node, map =>
            {
                map.Put("nodeId", node.Id);
            });
            
            ToastService.ShowSuccess("Node subscription job created");
        }
        
        catch
        {
            ToastService.ShowError("Error while requesting to open the channel, please contact a superadmin for troubleshooting");
        }
    }

    private async Task UpsertJob<TJob>(IScheduler scheduler, Node node, Action<JobDataMap> configureMap) where TJob : IJob
    {
        var isJobExists = await SimpleJob.IsJobExists<TJob>(scheduler, node.Id.ToString());

        if (isJobExists)
        {
            await SimpleJob.Reschedule<TJob>(scheduler, node.Id.ToString());
        }
        else
        {
            var map = new JobDataMap();
            configureMap(map);

            var job = SimpleJob.Create<TJob>(map, node.Id.ToString());

            await scheduler.ScheduleJob(job.Job, job.Trigger);

            node.JobId = job.Job.Key.ToString();

            var (result, _) = NodeRepository.Update(node);
            if (!result)
            {
                ToastService.ShowError($"Error while subscribing to job for node {node.Name}");
            }
        }
    }

    record State(string Text, string ClassName, bool IsDisabled = false);

    private void OnColumnLayoutUpdate()
    {
        StateHasChanged();
    }

    private bool IsColumnVisible(ColumnDefault column)
    {
        if (NodesColumnLayout	== null)
        {
            return true;
        }
        return NodesColumnLayout.IsColumnVisible(column);
    }
}